{
    "swagger":"2.0",
    "info":{
       "title":"OrgBook BC API",
       "description":"OrgBook BC is a public, searchable directory of digital records for registered businesses in the Province of British Columbia. Over time, other government organizations and businesses will also begin to issue digital records through OrgBook BC. For example, permits and licenses issued by various government services.",
       "termsOfService":"https://www2.gov.bc.ca/gov/content/data/open-data",
       "contact":{
          "email":"bcdevexchange@gov.bc.ca"
       },
       "license":{
          "name":"Open Government License - British Columbia",
          "url":"https://www2.gov.bc.ca/gov/content/data/open-data/api-terms-of-use-for-ogl-information"
       },
       "version":"v2"
    },
    "host":"www.orgbook.gov.bc.ca",
    "schemes":[
       "https"
    ],
    "basePath":"/api/v2",
    "consumes":[
       "application/json"
    ],
    "produces":[
       "application/json"
    ],
    "securityDefinitions":{
       "basic":{
          "type":"basic"
       }
    },
    "security":[
       {
          "basic":[
             
          ]
       }
    ],
    "paths":{
       "/credential":{
          "get":{
             "operationId":"credential_list",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/Credential"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "credential"
             ]
          },
          "parameters":[
             
          ]
       },
       "/credential/{id}":{
          "get":{
             "operationId":"credential_read",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Credential"
                   }
                }
             },
             "tags":[
                "credential"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this credential.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/credential/{id}/formatted":{
          "get":{
             "operationId":"credential_retrieve_formatted",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Credential"
                   }
                }
             },
             "tags":[
                "credential"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this credential.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/credential/{id}/latest":{
          "get":{
             "operationId":"credential_get_latest",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Credential"
                   }
                }
             },
             "tags":[
                "credential"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this credential.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/credential/{id}/verify":{
          "get":{
             "operationId":"credential_verify",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Credential"
                   }
                }
             },
             "tags":[
                "credential"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this credential.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/credentialtype":{
          "get":{
             "operationId":"credentialtype_list",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/CredentialType"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "credentialtype"
             ]
          },
          "parameters":[
             
          ]
       },
       "/credentialtype/{id}":{
          "get":{
             "operationId":"credentialtype_read",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/CredentialType"
                   }
                }
             },
             "tags":[
                "credentialtype"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this credential type.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/credentialtype/{id}/language":{
          "get":{
             "operationId":"credentialtype_fetch_language",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/CredentialType"
                   }
                }
             },
             "tags":[
                "credentialtype"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this credential type.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/credentialtype/{id}/logo":{
          "get":{
             "operationId":"credentialtype_fetch_logo",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/CredentialType"
                   }
                }
             },
             "tags":[
                "credentialtype"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this credential type.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/feedback":{
          "post":{
             "operationId":"feedback_create",
             "description":"",
             "parameters":[
                {
                   "name":"from_name",
                   "in":"formData",
                   "description":"Sender name",
                   "type":"string"
                },
                {
                   "name":"from_email",
                   "in":"formData",
                   "description":"Sender email address",
                   "type":"string",
                   "format":"email"
                },
                {
                   "name":"comments",
                   "in":"formData",
                   "description":"Comments",
                   "type":"string"
                }
             ],
             "responses":{
                "201":{
                   "description":""
                }
             },
             "consumes":[
                "application/x-www-form-urlencoded"
             ],
             "tags":[
                "feedback"
             ]
          },
          "parameters":[
             
          ]
       },
       "/issuer":{
          "get":{
             "operationId":"issuer_list",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/Issuer"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "issuer"
             ]
          },
          "parameters":[
             
          ]
       },
       "/issuer/{id}":{
          "get":{
             "operationId":"issuer_read",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Issuer"
                   }
                }
             },
             "tags":[
                "issuer"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this issuer.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/issuer/{id}/credentialtype":{
          "get":{
             "operationId":"issuer_list_credential_types",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/CredentialType"
                      }
                   }
                }
             },
             "tags":[
                "issuer"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this issuer.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/issuer/{id}/logo":{
          "get":{
             "operationId":"issuer_fetch_logo",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Issuer"
                   }
                }
             },
             "tags":[
                "issuer"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this issuer.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/quickload":{
          "get":{
             "operationId":"api_v2_quickload",
             "description":"quick load",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":""
                }
             },
             "tags":[
                "quickload"
             ]
          },
          "parameters":[
             
          ]
       },
       "/schema":{
          "get":{
             "operationId":"schema_list",
             "description":"",
             "parameters":[
                {
                   "name":"id",
                   "in":"query",
                   "description":"",
                   "required":false,
                   "type":"number"
                },
                {
                   "name":"name",
                   "in":"query",
                   "description":"",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"version",
                   "in":"query",
                   "description":"",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"origin_did",
                   "in":"query",
                   "description":"",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/Schema"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "schema"
             ]
          },
          "parameters":[
             
          ]
       },
       "/schema/{id}":{
          "get":{
             "operationId":"schema_read",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Schema"
                   }
                }
             },
             "tags":[
                "schema"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this schema.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/search/autocomplete":{
          "get":{
             "operationId":"search_autocomplete_list",
             "description":"Return autocomplete results for a query string",
             "parameters":[
                {
                   "name":"ordering",
                   "in":"query",
                   "description":"Which field to use when ordering the results.",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"q",
                   "in":"query",
                   "description":"Query string",
                   "type":"string"
                },
                {
                   "name":"inactive",
                   "in":"query",
                   "description":"Show inactive credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"any"
                },
                {
                   "name":"latest",
                   "in":"query",
                   "description":"Show only latest credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"true"
                },
                {
                   "name":"revoked",
                   "in":"query",
                   "description":"Show revoked credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"false"
                },
                {
                   "name":"category",
                   "in":"query",
                   "description":"Filter by credential category. The category name and value should be joined by '::'",
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/CredentialAutocomplete"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "search"
             ]
          },
          "parameters":[
             
          ]
       },
       "/search/autocomplete/{id}":{
          "get":{
             "operationId":"search_autocomplete_read",
             "description":"Return autocomplete results for a query string",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/CredentialAutocomplete"
                   }
                }
             },
             "tags":[
                "search"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "required":true,
                "type":"string"
             }
          ]
       },
       "/search/credential":{
          "get":{
             "operationId":"search_credential_list",
             "description":"Provide credential search via Solr with both faceted (/facets) and unfaceted results",
             "parameters":[
                {
                   "name":"ordering",
                   "in":"query",
                   "description":"Which field to use when ordering the results.",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"name",
                   "in":"query",
                   "description":"Filter credentials by related name or topic source ID",
                   "type":"string"
                },
                {
                   "name":"inactive",
                   "in":"query",
                   "description":"Show inactive credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"false"
                },
                {
                   "name":"latest",
                   "in":"query",
                   "description":"Show only latest credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"true"
                },
                {
                   "name":"revoked",
                   "in":"query",
                   "description":"Show revoked credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"false"
                },
                {
                   "name":"category",
                   "in":"query",
                   "description":"Filter by credential category. The category name and value should be joined by '::'",
                   "type":"string"
                },
                {
                   "name":"credential_type_id",
                   "in":"query",
                   "description":"Filter by Credential Type ID",
                   "type":"integer"
                },
                {
                   "name":"topic_credential_type_id",
                   "in":"query",
                   "description":"Filter by any Credential Type ID owned by the Topic",
                   "type":"string"
                },
                {
                   "name":"issuer_id",
                   "in":"query",
                   "description":"Filter by Issuer ID",
                   "type":"string"
                },
                {
                   "name":"topic_id",
                   "in":"query",
                   "description":"Filter by Topic ID",
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/CredentialSearch"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "search"
             ]
          },
          "parameters":[
             
          ]
       },
       "/search/credential/facets":{
          "get":{
             "operationId":"search_credential_facets",
             "description":"We want facet_counts from the less-restricted queryset",
             "parameters":[
                {
                   "name":"ordering",
                   "in":"query",
                   "description":"Which field to use when ordering the results.",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/CredentialSearch"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "search"
             ]
          },
          "parameters":[
             
          ]
       },
       "/search/credential/topic":{
          "get":{
             "operationId":"search_credential_topic_list",
             "description":"",
             "parameters":[
                {
                   "name":"ordering",
                   "in":"query",
                   "description":"Which field to use when ordering the results.",
                   "required":false,
                   "type":"string"
                },
                {
                   "name":"name",
                   "in":"query",
                   "description":"Filter credentials by related name or topic source ID",
                   "type":"string"
                },
                {
                   "name":"inactive",
                   "in":"query",
                   "description":"Show inactive credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"false"
                },
                {
                   "name":"latest",
                   "in":"query",
                   "description":"Show only latest credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"true"
                },
                {
                   "name":"revoked",
                   "in":"query",
                   "description":"Show revoked credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"false"
                },
                {
                   "name":"category",
                   "in":"query",
                   "description":"Filter by credential category. The category name and value should be joined by '::'",
                   "type":"string"
                },
                {
                   "name":"credential_type_id",
                   "in":"query",
                   "description":"Filter by Credential Type ID",
                   "type":"string"
                },
                {
                   "name":"topic_credential_type_id",
                   "in":"query",
                   "description":"Filter by any Credential Type ID owned by the Topic",
                   "type":"string"
                },
                {
                   "name":"issuer_id",
                   "in":"query",
                   "description":"Filter by Issuer ID",
                   "type":"string"
                },
                {
                   "name":"topic_id",
                   "in":"query",
                   "description":"Filter by Topic ID",
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/CredentialTopicSearch"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "search"
             ]
          },
          "parameters":[
             
          ]
       },
       "/search/credential/topic/facets":{
          "get":{
             "operationId":"search_credential_topic_facets",
             "description":"We want facet_counts from the less-restricted queryset",
             "parameters":[
                {
                   "name":"ordering",
                   "in":"query",
                   "description":"Which field to use when ordering the results.",
                   "required":false,
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/CredentialTopicSearch"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "search"
             ]
          },
          "parameters":[
             
          ]
       },
       "/search/credential/topic/{id}":{
          "get":{
             "operationId":"search_credential_topic_read",
             "description":"",
             "parameters":[
                {
                   "name":"name",
                   "in":"query",
                   "description":"Filter credentials by related name or topic source ID",
                   "type":"string"
                },
                {
                   "name":"inactive",
                   "in":"query",
                   "description":"Show inactive credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"false"
                },
                {
                   "name":"latest",
                   "in":"query",
                   "description":"Show only latest credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"true"
                },
                {
                   "name":"revoked",
                   "in":"query",
                   "description":"Show revoked credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"false"
                },
                {
                   "name":"category",
                   "in":"query",
                   "description":"Filter by credential category. The category name and value should be joined by '::'",
                   "type":"string"
                },
                {
                   "name":"credential_type_id",
                   "in":"query",
                   "description":"Filter by Credential Type ID",
                   "type":"string"
                },
                {
                   "name":"topic_credential_type_id",
                   "in":"query",
                   "description":"Filter by any Credential Type ID owned by the Topic",
                   "type":"string"
                },
                {
                   "name":"issuer_id",
                   "in":"query",
                   "description":"Filter by Issuer ID",
                   "type":"string"
                },
                {
                   "name":"topic_id",
                   "in":"query",
                   "description":"Filter by Topic ID",
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/CredentialTopicSearch"
                   }
                }
             },
             "tags":[
                "search"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "required":true,
                "type":"string"
             }
          ]
       },
       "/search/credential/{id}":{
          "get":{
             "operationId":"search_credential_read",
             "description":"Provide credential search via Solr with both faceted (/facets) and unfaceted results",
             "parameters":[
                {
                   "name":"name",
                   "in":"query",
                   "description":"Filter credentials by related name or topic source ID",
                   "type":"string"
                },
                {
                   "name":"inactive",
                   "in":"query",
                   "description":"Show inactive credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"false"
                },
                {
                   "name":"latest",
                   "in":"query",
                   "description":"Show only latest credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"true"
                },
                {
                   "name":"revoked",
                   "in":"query",
                   "description":"Show revoked credentials",
                   "type":"string",
                   "enum":[
                      "any",
                      "false",
                      "true"
                   ],
                   "default":"false"
                },
                {
                   "name":"category",
                   "in":"query",
                   "description":"Filter by credential category. The category name and value should be joined by '::'",
                   "type":"string"
                },
                {
                   "name":"credential_type_id",
                   "in":"query",
                   "description":"Filter by Credential Type ID",
                   "type":"string"
                },
                {
                   "name":"topic_credential_type_id",
                   "in":"query",
                   "description":"Filter by any Credential Type ID owned by the Topic",
                   "type":"string"
                },
                {
                   "name":"issuer_id",
                   "in":"query",
                   "description":"Filter by Issuer ID",
                   "type":"string"
                },
                {
                   "name":"topic_id",
                   "in":"query",
                   "description":"Filter by Topic ID",
                   "type":"string"
                }
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/CredentialSearch"
                   }
                }
             },
             "tags":[
                "search"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "required":true,
                "type":"string"
             }
          ]
       },
       "/status":{
          "get":{
             "operationId":"api_v2_status",
             "description":"quick load",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":""
                }
             },
             "tags":[
                "status"
             ]
          },
          "parameters":[
             
          ]
       },
       "/status/reset":{
          "get":{
             "operationId":"api_v2_status_reset",
             "description":"quick load",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":""
                }
             },
             "tags":[
                "status"
             ]
          },
          "parameters":[
             
          ]
       },
       "/topic":{
          "get":{
             "operationId":"topic_list",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/Topic"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "topic"
             ]
          },
          "parameters":[
             
          ]
       },
       "/topic/ident/{type}/{source_id}":{
          "get":{
             "operationId":"topic_retrieve_by_type",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Topic"
                   }
                }
             },
             "tags":[
                "topic"
             ]
          },
          "parameters":[
             {
                "name":"source_id",
                "in":"path",
                "required":true,
                "type":"string"
             },
             {
                "name":"type",
                "in":"path",
                "required":true,
                "type":"string"
             }
          ]
       },
       "/topic/ident/{type}/{source_id}/formatted":{
          "get":{
             "operationId":"topic_ident_retrieve_by_type_formatted",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/CustomTopic"
                   }
                }
             },
             "tags":[
                "topic"
             ]
          },
          "parameters":[
             {
                "name":"source_id",
                "in":"path",
                "required":true,
                "type":"string"
             },
             {
                "name":"type",
                "in":"path",
                "required":true,
                "type":"string"
             }
          ]
       },
       "/topic/{id}":{
          "get":{
             "operationId":"topic_read",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Topic"
                   }
                }
             },
             "tags":[
                "topic"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this topic.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/topic/{id}/credential":{
          "get":{
             "operationId":"topic_list_credentials",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/ExpandedCredential"
                      }
                   }
                }
             },
             "tags":[
                "topic"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this topic.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/topic/{id}/credential/active":{
          "get":{
             "operationId":"topic_credential_list_active_credentials",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/ExpandedCredential"
                      }
                   }
                }
             },
             "tags":[
                "topic"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this topic.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/topic/{id}/credential/historical":{
          "get":{
             "operationId":"topic_credential_list_historical_credentials",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/ExpandedCredential"
                      }
                   }
                }
             },
             "tags":[
                "topic"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this topic.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/topic/{id}/credentialset":{
          "get":{
             "operationId":"topic_list_credential_sets",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/ExpandedCredentialSet"
                      }
                   }
                }
             },
             "tags":[
                "topic"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this topic.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/topic/{id}/formatted":{
          "get":{
             "operationId":"topic_retrieve_formatted",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/Topic"
                   }
                }
             },
             "tags":[
                "topic"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this topic.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/topic_relationship":{
          "get":{
             "operationId":"topic_relationship_list",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "required":[
                         "results"
                      ],
                      "type":"object",
                      "properties":{
                         "total":{
                            "type":"integer"
                         },
                         "page_size":{
                            "type":"integer"
                         },
                         "page":{
                            "type":"integer"
                         },
                         "first_index":{
                            "type":"integer"
                         },
                         "last_index":{
                            "type":"integer"
                         },
                         "next":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "previous":{
                            "type":"string",
                            "format":"uri",
                            "x-nullable":true
                         },
                         "results":{
                            "type":"array",
                            "items":{
                               "$ref":"#/definitions/TopicRelationship"
                            }
                         }
                      }
                   }
                }
             },
             "tags":[
                "topic_relationship"
             ]
          },
          "parameters":[
             
          ]
       },
       "/topic_relationship/{id}":{
          "get":{
             "operationId":"topic_relationship_read",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/TopicRelationship"
                   }
                }
             },
             "tags":[
                "topic_relationship"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this topic relationship.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/topic_relationship/{id}/related_from_relations":{
          "get":{
             "operationId":"topic_relationship_list_related_from_relations",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/TopicRelationship"
                   }
                }
             },
             "tags":[
                "topic_relationship"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this topic relationship.",
                "required":true,
                "type":"integer"
             }
          ]
       },
       "/topic_relationship/{id}/related_to_relations":{
          "get":{
             "operationId":"topic_relationship_list_related_to_relations",
             "description":"",
             "parameters":[
                
             ],
             "responses":{
                "200":{
                   "description":"",
                   "schema":{
                      "$ref":"#/definitions/TopicRelationship"
                   }
                }
             },
             "tags":[
                "topic_relationship"
             ]
          },
          "parameters":[
             {
                "name":"id",
                "in":"path",
                "description":"A unique integer value identifying this topic relationship.",
                "required":true,
                "type":"integer"
             }
          ]
       }
    },
    "definitions":{
       "CredentialAttribute":{
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "type":{
                "title":"Type",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "format":{
                "title":"Format",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "value":{
                "title":"Value",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "credential_id":{
                "title":"Credential id",
                "type":"integer",
                "readOnly":true
             }
          }
       },
       "Credential":{
          "required":[
             "attributes"
          ],
          "type":"object",
          "properties":{
             "topic":{
                "title":"Topic",
                "type":"integer",
                "readOnly":true
             },
             "credential_set":{
                "title":"Credential set",
                "type":"integer",
                "readOnly":true
             },
             "credential_type":{
                "title":"Credential type",
                "type":"integer",
                "readOnly":true
             },
             "credential_id":{
                "title":"Credential id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "credential_def_id":{
                "title":"Credential def id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "cardinality_hash":{
                "title":"Cardinality hash",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "effective_date":{
                "title":"Effective date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "inactive":{
                "title":"Inactive",
                "type":"boolean",
                "readOnly":true
             },
             "latest":{
                "title":"Latest",
                "type":"boolean",
                "readOnly":true
             },
             "revoked":{
                "title":"Revoked",
                "type":"boolean",
                "readOnly":true
             },
             "revoked_date":{
                "title":"Revoked date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "revoked_by":{
                "title":"Revoked by",
                "type":"integer",
                "readOnly":true
             },
             "related_topics":{
                "type":"array",
                "items":{
                   "type":"integer"
                },
                "readOnly":true,
                "uniqueItems":true
             },
             "attributes":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialAttribute"
                }
             }
          }
       },
       "Issuer":{
          "title":"Issuer",
          "required":[
             "did",
             "name",
             "abbreviation",
             "email",
             "url"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "has_logo":{
                "title":"Has logo",
                "type":"boolean",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "did":{
                "title":"Did",
                "type":"string",
                "minLength":1
             },
             "name":{
                "title":"Name",
                "type":"string",
                "minLength":1
             },
             "abbreviation":{
                "title":"Abbreviation",
                "type":"string",
                "minLength":1
             },
             "email":{
                "title":"Email",
                "type":"string",
                "minLength":1
             },
             "url":{
                "title":"Url",
                "type":"string",
                "minLength":1
             },
             "endpoint":{
                "title":"Endpoint",
                "type":"string",
                "minLength":1,
                "x-nullable":true
             }
          }
       },
       "CredentialType":{
          "required":[
             "issuer"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "issuer":{
                "$ref":"#/definitions/Issuer"
             },
             "has_logo":{
                "title":"Has logo",
                "type":"boolean",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "description":{
                "title":"Description",
                "type":"string",
                "x-nullable":true
             },
             "credential_def_id":{
                "title":"Credential def id",
                "type":"string",
                "minLength":1,
                "x-nullable":true
             },
             "last_issue_date":{
                "title":"Last issue date",
                "type":"string",
                "format":"date-time",
                "x-nullable":true
             },
             "url":{
                "title":"Url",
                "type":"string",
                "x-nullable":true
             },
             "schema":{
                "required":[
                   "name",
                   "version",
                   "origin_did"
                ],
                "type":"object",
                "properties":{
                   "id":{
                      "title":"ID",
                      "type":"integer",
                      "readOnly":true
                   },
                   "create_timestamp":{
                      "title":"Create timestamp",
                      "type":"string",
                      "format":"date-time",
                      "readOnly":true
                   },
                   "update_timestamp":{
                      "title":"Update timestamp",
                      "type":"string",
                      "format":"date-time",
                      "readOnly":true
                   },
                   "name":{
                      "title":"Name",
                      "type":"string",
                      "minLength":1
                   },
                   "version":{
                      "title":"Version",
                      "type":"string",
                      "minLength":1
                   },
                   "origin_did":{
                      "title":"Origin did",
                      "type":"string",
                      "minLength":1
                   }
                },
                "readOnly":true
             }
          }
       },
       "Schema":{
          "required":[
             "name",
             "version",
             "origin_did"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "name":{
                "title":"Name",
                "type":"string",
                "minLength":1
             },
             "version":{
                "title":"Version",
                "type":"string",
                "minLength":1
             },
             "origin_did":{
                "title":"Origin did",
                "type":"string",
                "minLength":1
             }
          }
       },
       "CredentialName":{
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "text":{
                "title":"Text",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "language":{
                "title":"Language",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "credential_id":{
                "title":"Credential id",
                "type":"string",
                "readOnly":true
             },
             "type":{
                "title":"Type",
                "type":"string",
                "readOnly":true,
                "minLength":1
             }
          }
       },
       "CredentialAutocomplete":{
          "required":[
             "names"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "names":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialName"
                }
             },
             "inactive":{
                "title":"Inactive",
                "type":"boolean",
                "readOnly":true
             }
          }
       },
       "CredentialSet":{
          "title":"Credential set",
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "latest_credential_id":{
                "title":"Latest credential id",
                "type":"string",
                "readOnly":true
             },
             "topic_id":{
                "title":"Topic id",
                "type":"integer",
                "readOnly":true
             },
             "first_effective_date":{
                "title":"First effective date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "last_effective_date":{
                "title":"Last effective date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             }
          }
       },
       "CredentialAddress":{
          "type":"object",
          "properties":{
             "province":{
                "title":"Province",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "country":{
                "title":"Country",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "city":{
                "title":"City",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "addressee":{
                "title":"Addressee",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "civic_address":{
                "title":"Civic address",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "credential_id":{
                "title":"Credential id",
                "type":"string",
                "readOnly":true
             },
             "postal_code":{
                "title":"Postal code",
                "type":"string",
                "readOnly":true,
                "minLength":1
             }
          }
       },
       "CredentialNamedTopic":{
          "title":"Topic",
          "required":[
             "names",
             "local_name",
             "remote_name"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "source_id":{
                "title":"Source id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "type":{
                "title":"Type",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "names":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialName"
                }
             },
             "local_name":{
                "$ref":"#/definitions/CredentialName"
             },
             "remote_name":{
                "$ref":"#/definitions/CredentialName"
             }
          }
       },
       "CredentialSearch":{
          "required":[
             "credential_set",
             "credential_type",
             "addresses",
             "attributes",
             "names",
             "topic",
             "related_topics"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "effective_date":{
                "title":"Effective date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "inactive":{
                "title":"Inactive",
                "type":"boolean",
                "readOnly":true
             },
             "latest":{
                "title":"Latest",
                "type":"boolean",
                "readOnly":true
             },
             "revoked":{
                "title":"Revoked",
                "type":"boolean",
                "readOnly":true
             },
             "revoked_date":{
                "title":"Revoked date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "credential_id":{
                "title":"Credential id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "credential_set":{
                "$ref":"#/definitions/CredentialSet"
             },
             "credential_type":{
                "$ref":"#/definitions/CredentialType"
             },
             "addresses":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialAddress"
                }
             },
             "attributes":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialAttribute"
                }
             },
             "names":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialName"
                }
             },
             "topic":{
                "$ref":"#/definitions/CredentialNamedTopic"
             },
             "related_topics":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialNamedTopic"
                }
             }
          }
       },
       "TopicAttribute":{
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "type":{
                "title":"Type",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "format":{
                "title":"Format",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "value":{
                "title":"Value",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "credential_id":{
                "title":"Credential id",
                "type":"string",
                "readOnly":true
             },
             "credential_type_id":{
                "title":"Credential type id",
                "type":"string",
                "readOnly":true
             }
          }
       },
       "CredentialTopicExt":{
          "title":"Topic",
          "required":[
             "names",
             "local_name",
             "remote_name",
             "addresses",
             "attributes"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "source_id":{
                "title":"Source id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "type":{
                "title":"Type",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "names":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialName"
                }
             },
             "local_name":{
                "$ref":"#/definitions/CredentialName"
             },
             "remote_name":{
                "$ref":"#/definitions/CredentialName"
             },
             "addresses":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialAddress"
                }
             },
             "attributes":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/TopicAttribute"
                }
             }
          }
       },
       "CredentialTopicSearch":{
          "required":[
             "credential_set",
             "credential_type",
             "attributes",
             "names",
             "topic",
             "related_topics"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "effective_date":{
                "title":"Effective date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "inactive":{
                "title":"Inactive",
                "type":"boolean",
                "readOnly":true
             },
             "latest":{
                "title":"Latest",
                "type":"boolean",
                "readOnly":true
             },
             "revoked":{
                "title":"Revoked",
                "type":"boolean",
                "readOnly":true
             },
             "revoked_date":{
                "title":"Revoked date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "credential_id":{
                "title":"Credential id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "credential_set":{
                "$ref":"#/definitions/CredentialSet"
             },
             "credential_type":{
                "$ref":"#/definitions/CredentialType"
             },
             "attributes":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialAttribute"
                }
             },
             "names":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialName"
                }
             },
             "topic":{
                "$ref":"#/definitions/CredentialTopicExt"
             },
             "related_topics":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialNamedTopic"
                }
             }
          }
       },
       "Topic":{
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "source_id":{
                "title":"Source id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "type":{
                "title":"Type",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "related_to":{
                "type":"array",
                "items":{
                   "type":"integer"
                },
                "readOnly":true,
                "uniqueItems":true
             },
             "related_from":{
                "type":"array",
                "items":{
                   "type":"integer"
                },
                "readOnly":true,
                "uniqueItems":true
             }
          }
       },
       "CustomTopic":{
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "source_id":{
                "title":"Source id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "type":{
                "title":"Type",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "names":{
                "title":"Names",
                "type":"string",
                "readOnly":true
             },
             "addresses":{
                "title":"Addresses",
                "type":"string",
                "readOnly":true
             },
             "attributes":{
                "title":"Attributes",
                "type":"string",
                "readOnly":true
             }
          }
       },
       "CredentialExt":{
          "required":[
             "credential_type",
             "addresses",
             "attributes",
             "names",
             "local_name",
             "remote_name",
             "topic",
             "related_topics"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "effective_date":{
                "title":"Effective date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "inactive":{
                "title":"Inactive",
                "type":"boolean",
                "readOnly":true
             },
             "latest":{
                "title":"Latest",
                "type":"boolean",
                "readOnly":true
             },
             "revoked":{
                "title":"Revoked",
                "type":"boolean",
                "readOnly":true
             },
             "revoked_date":{
                "title":"Revoked date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "credential_id":{
                "title":"Credential id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "credential_type":{
                "$ref":"#/definitions/CredentialType"
             },
             "addresses":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialAddress"
                }
             },
             "attributes":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialAttribute"
                }
             },
             "names":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialName"
                }
             },
             "local_name":{
                "$ref":"#/definitions/CredentialName"
             },
             "remote_name":{
                "$ref":"#/definitions/CredentialName"
             },
             "topic":{
                "$ref":"#/definitions/CredentialTopicExt"
             },
             "related_topics":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialNamedTopic"
                }
             }
          }
       },
       "ExpandedCredentialSet":{
          "title":"Credential set",
          "required":[
             "credentials"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "update_timestamp":{
                "title":"Update timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "latest_credential_id":{
                "title":"Latest credential id",
                "type":"string",
                "readOnly":true
             },
             "topic_id":{
                "title":"Topic id",
                "type":"integer",
                "readOnly":true
             },
             "first_effective_date":{
                "title":"First effective date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "last_effective_date":{
                "title":"Last effective date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "credentials":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialExt"
                }
             }
          }
       },
       "ExpandedCredential":{
          "required":[
             "credential_type",
             "addresses",
             "attributes",
             "names",
             "local_name",
             "remote_name",
             "topic",
             "related_topics",
             "credential_set"
          ],
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "create_timestamp":{
                "title":"Create timestamp",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "effective_date":{
                "title":"Effective date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "inactive":{
                "title":"Inactive",
                "type":"boolean",
                "readOnly":true
             },
             "latest":{
                "title":"Latest",
                "type":"boolean",
                "readOnly":true
             },
             "revoked":{
                "title":"Revoked",
                "type":"boolean",
                "readOnly":true
             },
             "revoked_date":{
                "title":"Revoked date",
                "type":"string",
                "format":"date-time",
                "readOnly":true
             },
             "credential_id":{
                "title":"Credential id",
                "type":"string",
                "readOnly":true,
                "minLength":1
             },
             "credential_type":{
                "$ref":"#/definitions/CredentialType"
             },
             "addresses":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialAddress"
                }
             },
             "attributes":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialAttribute"
                }
             },
             "names":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialName"
                }
             },
             "local_name":{
                "$ref":"#/definitions/CredentialName"
             },
             "remote_name":{
                "$ref":"#/definitions/CredentialName"
             },
             "topic":{
                "$ref":"#/definitions/CredentialTopicExt"
             },
             "related_topics":{
                "type":"array",
                "items":{
                   "$ref":"#/definitions/CredentialNamedTopic"
                }
             },
             "credential_set":{
                "$ref":"#/definitions/ExpandedCredentialSet"
             }
          }
       },
       "TopicRelationship":{
          "type":"object",
          "properties":{
             "id":{
                "title":"ID",
                "type":"integer",
                "readOnly":true
             },
             "credential":{
                "title":"Credential",
                "type":"integer",
                "readOnly":true
             },
             "topic":{
                "title":"Topic",
                "type":"integer",
                "readOnly":true
             },
             "related_topic":{
                "title":"Related topic",
                "type":"integer",
                "readOnly":true
             }
          }
       }
    }
 }